.header {
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.logo {
    width: 6rem;
    font-size: 1.5rem;
    color: aqua;
    b {
        color: chartreuse;
    }
}

.credentials {
    width: 8rem;
    // background-color: burlywood;
    padding-right: 1rem;

    nav {
        width: 10rem;
        height: 2rem;
        // background-color: aqua;

        button {
            border: none;
            background-color: white;
        }
    }
    details {
        width: 10rem;
        height: 2rem;

        button {
            border: none;
            background-color: white;
            margin-top: 0.5rem;
        }  
    }
}