.advertiseRegistory {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            width: 35%;
            height: 70%;
            display: flex;
            background-color: whitesmoke;
            position: relative;
            
            aside {
                width: 30%;
                // background-color: burlywood;
                display: flex;
                flex-direction: column;
                
                button {
                    height: 2rem;
                    margin: 1rem;
                }
            }
            section {
                width: 70%;
                height: calc(100% - 48px);
                // background-color: rgb(135, 203, 135);
                display: flex;
                justify-content: center;
                
                table {
                    width: 100%;
                    // background-color: yellow;
                }
            }
            footer {
                width: 100%;
                height: 3rem;
                position: absolute;
                bottom: 0;
                // background-color: blue;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    width: 5rem;
                    height: 2rem;
                    // margin-right: 18rem;

                }
            }
        }
    }
}
.btn1{
    color: orange;
}
.button1{
    color: black;
    background-color: limegreen;
}
.button2{
    color: black;
    background-color: limegreen;
}
.button3{
    color: black;
    background-color: limegreen;
}
.prevNextBtns{
    // background-color: aqua;
    width: 15rem;
    display: flex;
    justify-content: space-between;
}