.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        width: 36%;
        height: 35%;
        background-color: whitesmoke;

        section {
            width: 100%;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-around;

            h1 {
                width: 6rem;
                font-size: 1.5rem;
                color: aqua;

                b {
                    color: chartreuse;
                }
            }

            button {
                border: none;
                background-color: whitesmoke;
                font-size: 1.5rem;
                width: 2rem;
                height: 2rem;
            }

            button:hover {
                background-color: white;
                border-radius: 10rem;
                width: 2rem;
                height: 2rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            input {
                width: 50%;
                height: 1.5rem;
            }

            button {
                width: 5rem;
                height: 1.5rem;
                background-color: whitesmoke;
                color: rgb(75, 75, 253);
                border-radius: 1rem;
                border: none;
            }

            button:hover {
                background-color: white;
                border-radius: 1rem;
                width: 5rem;
                height: 1.5rem;
            }
        }
    }
}